.footer {
    position: relative;
    display: block;
    text-align: center;
    height: 250px;
    width: 100%;
    color: #9e9e9e;
    background-color: #424242;
    letter-spacing: 8px;
    cursor: default;
}

.footer .logo {
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}

.logo a {
    color: #9e9e9e;
}
